
	.divP{
		width: 400px;
	}
	.img{
		width: 200px;
		height: 200px;
	}

	.divLuta{
		width: 300px;
		margin-left: 20px;
		position: absolute;
	}
	.divLuta1{
		width: 300px;
		margin-left: 600px;
	}

	.foto{
		height: 200px;
		width: 300px;
	}

	.barra1, .barra2{
		width: 300px;
		background-color: blue;
		height: 20px;
		transition: 0.5s;
		color: white;
		height: 25px;
	}

	.btnResete{
		margin-left: 390px;
		margin-top: 100px;
		position: absolute;
		width: 150px;
	}

	.divPrincipal{
		margin-left: 15%;
	}

	.divlog{
		float:left;
		width: 100%;
		overflow: auto;
		height: 200px;
	}
	